# .env

# PostgreSQL connection
POSTGRES_HOST= # host of the database
POSTGRES_PORT= # port of the database
POSTGRES_USER= # user of the database
POSTGRES_PASSWORD= # password of the database
POSTGRES_DB=       # Name of the database

# Token secrets
ACCESS_TOKEN_SECRET= # secret key token
REFRESH_TOKEN_SECRET= # secret key refresh token

# Token expirations
ACCESS_TOKEN_EXPIRES_IN=900s      # 15 minutos
REFRESH_TOKEN_EXPIRES_IN=7d # 7 days
# Application port
PORT=3000                   # Port application

# Tenancy identifier
TENANCY=moradela            # Schema name or tenant identifier (e.g., "moradela")